<launch>
    <arg name="realrobot" default="false"/>

	<include file="$(find openrave_ros_calibration)/launch/camera_and_robot.launch">
		<arg name="realrobot" value="$(arg realrobot)"/>
	</include>
    <node pkg="openrave_ros_calibration" type="calibration_planner.py" name="calibration_planner" 
            args="" respawn="false" output="screen">
        <remap from="~input/image_rect" to="camera/rgb/image_rect_color"/> <!-- rectified -->
        <remap from="~input/camera_info" to="camera/rgb/camera_info"/>
        <remap from="~output/debug_image_calib" to="image_calib"/>

        <rosparam subst_value="True">
            collada_file: $(find openrave_ros_description)/worlds/denso_calib.env.xml
            robot: Denso
            manip: Flange
            target: pattern
            sensorrobot: azure_kinect
            sensorname: rgb_camera
            viewer: qtosg
            controllerargs: "rosrobotcontroller /denso/position_trajectory_controller/follow_joint_trajectory /denso/joint_states 8 j1 j2 j3 j4 j5 j6"
        </rosparam>
    </node>
</launch>
